.footer_main{
    display: flex;
    justify-content: space-around;
    list-style: none;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.484);
    margin: 20px;
    margin-top: 100px;
    padding-bottom: 20px;
 
  
}

.footer_main_first{
    display: flex;
    justify-content: space-around;
    gap: 150px;
    margin-left: 0;

    li:hover{
        cursor: pointer;
        border-bottom: 2px solid rgba(0, 0, 0, 0.429);
        display: inline-block;
        transition: width 0.3s ease;
        opacity: 0.5;
    }
}

.footer_main_second{
    display: flex;
    gap:20px;

    .footer_main_second_icon:hover{
        cursor: pointer;
        opacity: 0.5;;
    }

    h4:hover{
        cursor: pointer;
        border-bottom: 2px solid rgba(0, 0, 0, 0.429);
        display: inline-block;
        transition: width 0.3s ease;
        opacity: 0.5;
    }

    .footer_main_second_icon{
        margin-top: 20px;
    }
}


.footer_main2{
    position: fixed;
    bottom: 5%;
    left: 35%;
    // width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.122);
    height: 70px;
    background-color: rgba(0, 0, 0, 0.715);
    font-size:large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

   .footer_main2_first {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.315);
    width: fit-content;
    height: 60px;
    padding: 0 10px;
    margin-left: 5px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.588);
    color: rgba(255, 255, 255, 0.56);

    &:hover{
        cursor: pointer;
        color: white;
        font-weight: bold;
        background-color: black;
        transition: 0.3s ease;
    }
}

    .footer_main2_second{
        display: flex;
        column-gap: 20px;
        padding: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.207);
        height: 60px;
        width: fit-content;
        padding: 0 10px;
        margin: 0;
        border-radius: 10px;
        font-family: 'Times New Roman', Times, serif;
        background-color: rgba(0, 0, 0, 0.207);

        .second_main1{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 0.3px solid rgba(255, 255, 0, 0.777);
            color: rgba(255, 255, 0, 0.777);
            height: 40px;
            border-radius: 7px;
            width: 80px;
            padding: 0 5px;
            font-weight: normal;
            font-size: smaller; 
            
            &:hover{
                cursor: pointer;
                color: black;
                font-weight: bold;
                background-color: rgba(255, 255, 0, 0.79);
                transition: 0.3s ease;
            }
        }

        .second_main2{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 0.3px solid rgba(255, 255, 255, 0.281);
            color: rgba(255, 255, 255, 0.559);
            height: 40px;
            border-radius: 7px;
            width: 80px;
            padding: 0 5px;
            font-weight: normal;
            font-size: smaller; 
            
            &:hover{
                cursor: pointer;
                color: white;
                // font-weight: bold;
                background-color: black;
                transition: 0.3s ease;
            }
        }
    }

    .third_main {
        display: flex;
        border: 1px solid rgba(255, 255, 0, 0.322);
        width: 50px;
        height: 60px;
        padding: 0 5px;
        margin-right: 5px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color:rgba(255, 255, 0, 0.322);
        color: rgba(0, 0, 0, 0.764);
        font-size: smaller;

        &:hover{
            cursor: pointer;
            color: black;
            transition: 0.5s ease;
            font-weight: bold;
            background-color: rgba(255, 255, 0, 0.79);
        }
    }
}

// @media screen and (max-width:768px) {

// .footer_main{
//     margin-top: 100px;
// }

//     .footer_main2{
//         display: none;
//     }

//     .footer_main_second{
//         display: none;
//     }

//     .footer_main_second_icon{
//         display: none;
//     }

//     .footer_main_first{
//         display: flex;
//         justify-content: space-around;
//         gap: 15px;
//     }
// }

@media only screen and (max-width: 768px) {
    
    
    .footer_main{
    flex-direction: column;
    align-items: center;
    text-align: center;

    .footer_main_first {
      flex-direction: column;
      align-items: center;
      gap: 20px;

      div {
        align-items: center;
      }
    }

    .footer_main2{
        .footer_main2_second{
            .second_main2{
                display: none;
            }
        }
    }

  }
}