@import'../Page/mixin.scss';


.product{
    display: flex;

    .single-product{
        display: flex;

        .single_details{
            display: flex;
            flex-direction: column;

           .inner_side{
            display: flex;
            flex-direction: column;
           }
        }
    }
}