// Assuming the root container class for the Category component
.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.442);
    
    // Styling each image inside the category container
    .category-image {
      border: 2px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 20px;

  
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }
    }
  }
  